<p id="notice"><%= notice %></p>

<%= link_to 'Back', programs_path %>

<p>
  <strong>Title:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>College code:</strong>
  <%= @program.college_code %>
</p>

<p>
  <strong>Department code:</strong>
  <%= @program.department_code %>
</p>

<p>
  <strong>Body:</strong>
  <%= @program.body %>
</p>

<p>
  <strong>Program type:</strong>
  <%= @program.program_type %>
</p>

<p>
  <strong>Degree type:</strong>
  <%= @program.degree_type %>
</p>

<p>
  <strong>Program title:</strong>
  <%= @program.program_title %>
</p>

<p>
  <strong>Schev status:</strong>
  <%= @program.schev_status %>
</p>

<p>
  <strong>College:</strong>
  <%= @program.college %>
</p>

<p>
  <strong>Department:</strong>
  <%= @program.department %>
</p>

<p>
  <strong>Joint program:</strong>
  <%= @program.joint_program %>
</p>

<p>
  <strong>Code:</strong>
  <%= @program.code %>
</p>

<p>
  <strong>Green leaf prog:</strong>
  <%= @program.green_leaf_prog %>
</p>
